In [1]:
import pandas as pd

In [16]:
csv_1 = "Resources/JC-202001-citibike-tripdata.csv"
csv_2 = "Resources/JC-202002-citibike-tripdata.csv"
csv_3 = "Resources/JC-202003-citibike-tripdata.csv"
csv_4 = "Resources/JC-202004-citibike-tripdata.csv"
csv_5 = "Resources/JC-202005-citibike-tripdata.csv"
csv_6 = "Resources/JC-202006-citibike-tripdata.csv"
csv_7 = "Resources/JC-202007-citibike-tripdata.csv"
csv_8 = "Resources/JC-202008-citibike-tripdata.csv"
csv_9 = "Resources/JC-202009-citibike-tripdata.csv"
csv_10 = "Resources/JC-202010-citibike-tripdata.csv"
csv_11 = "Resources/JC-202011-citibike-tripdata.csv"
csv_12 = "Resources/JC-202012-citibike-tripdata.csv"
csv_21_01 = "Resources/202101.csv"

In [17]:
bike_1 = pd.read_csv(csv_1)
bike_2 = pd.read_csv(csv_2)
bike_3 = pd.read_csv(csv_3)
bike_4 = pd.read_csv(csv_4)
bike_5 = pd.read_csv(csv_5)
bike_6 = pd.read_csv(csv_6)
bike_7 = pd.read_csv(csv_7)
bike_8 = pd.read_csv(csv_8)
bike_9 = pd.read_csv(csv_9)
bike_10 = pd.read_csv(csv_10)
bike_11 = pd.read_csv(csv_11)
bike_12 = pd.read_csv(csv_12)
bike_2021 = pd.read_csv(csv_21_01)

In [11]:
bike_1.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,226,2020-01-01 00:04:50.1920,2020-01-01 00:08:37.0370,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,2
1,377,2020-01-01 00:16:01.6700,2020-01-01 00:22:19.0800,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,2
2,288,2020-01-01 00:17:33.8770,2020-01-01 00:22:22.4420,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,1
3,435,2020-01-01 00:32:05.9020,2020-01-01 00:39:21.0660,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,0
4,231,2020-01-01 00:46:19.6780,2020-01-01 00:50:11.3440,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,2

In [19]:
bike_df = pd.concat([bike_1, bike_2, bike_3, bike_4, bike_5, bike_6, bike_7, bike_8, bike_9, bike_10, bike_11, bike_12, bike_2021])

In [20]:
bike_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,226,2020-01-01 00:04:50.1920,2020-01-01 00:08:37.0370,3186,Grove St PATH,40.719586,-74.043117,3211,Newark Ave,40.721525,-74.046305,29444,Subscriber,1984,2
1,377,2020-01-01 00:16:01.6700,2020-01-01 00:22:19.0800,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,26305,Subscriber,1989,2
2,288,2020-01-01 00:17:33.8770,2020-01-01 00:22:22.4420,3186,Grove St PATH,40.719586,-74.043117,3269,Brunswick & 6th,40.726012,-74.050389,29268,Customer,1989,1
3,435,2020-01-01 00:32:05.9020,2020-01-01 00:39:21.0660,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,29278,Customer,1969,0
4,231,2020-01-01 00:46:19.6780,2020-01-01 00:50:11.3440,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,29276,Subscriber,1983,2

In [23]:
bike_df.to_csv("bike_df.csv")